* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #fff;
    box-shadow: 5px 1px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    margin-left: 10rem;
    font-style: italic;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
    margin-right: 10rem;
}

nav ul li a {
    text-decoration: none;
    color: #4b5563;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #000;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7rem 10rem;
}

.hero-section-div01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.hero-section-div01>h1 {
    color: #111827;
    font-size: 3.5rem;
    font-weight: bold;
}

h1>span {
    color: #16a34a;
}

.hero-section-p01 {
    color: #4b5563;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hero-section-p02 {
    color: #6b7280;
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.hero-section-div01>button {
    background-color: #111827;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.hero-section-div01>button a {
    text-decoration: none;
    color: #fff;
}

.hero-section-div01>button:hover {
    background-color: #1f2937;
}

.hero-section-div02 img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
}

.section-02 {
    background-color: #f9fafb;
}

.div-02 {
    padding: 4rem 10rem;
}

.div-02-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.section-02 h2 {
    color: #111827;
    font-size: 2.3rem;
    font-weight: bold;
}

.line {
    width: 80px;
    height: 5px;
    background-color: #16a34a;
}

.aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

.aboutme-01 {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.aboutme-01 h3 {
    color: #111827;
    font-size: 1.5rem;
    font-weight: bold;
}

.aboutme-01 span {
    font-weight: 500;
}

.aboutme-01 p {
    color: #4c5663;
    font-weight: 450;
    line-height: 1.5em;
}

.aboutme-02 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.aboutme-02-div {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fa-solid {
    background-color: #dcfce7;
    color: #16a34a;
    border-radius: 6px;
    margin-right: 1rem;
    vertical-align: middle;
    font-size: 1rem;
    padding: 0.9rem;
}

.fa-brands {
    background-color: #dcfce7;
    color: #16a34a;
    border-radius: 6px;
    margin-right: 1rem;
    vertical-align: middle;
    font-size: 1rem;
    padding: 0.9rem;
}

.aboutme-02-div h3 {
    color: #111827;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.aboutme-02-div p {
    color: #4c5663;
    font-weight: 450;
}

.section-03 {
    padding: 4rem 10rem;
}

.section-03 h2 {
    color: #111827;
    font-size: 2.3rem;
    font-weight: bold;
}

.div-02-heading p {
    text-align: center;
    font-size: 1.15rem;
    font-weight: 500;
    color: #4b5563;
}

.project-grid-section {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 1.2rem;
}

.project-section img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #d1d1d1;
    align-self: center;
}

.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1.2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.project-section p {
    font-size: 1.15rem;
    font-weight: 500;
    color: #4b5563;
}

.project-skills {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    list-style-type: none;
}

.project-skills li {
    background-color: #e7e7e9;
    color: #4b5563;
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 7px;
    width: 70px;
    text-align: center;
}

.project-section button {
    padding: 0.6rem 0.9rem;
    background-color: #111827;
    font-size: 1rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.project-section button a {
    text-decoration: none;
    color: #fff;
}

.project-section button:hover {
    background-color: #1f2937;
}

.section-04 {
    background-color: #f9fafb;
}

.div-02-heading h2 {
    color: #111827;
    font-size: 2.3rem;
    font-weight: bold;
}

.section-04-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.skills-container {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.skills-container:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.skills-container h3 {
    color: #111827;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.skills-container p {
    color: #4b5563;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.position-p {
    font-size: 0.8rem;
    background-color: #dcfce7;
    color: #16a34a;
    padding: 0.2rem 0.5rem;
    border-radius: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.skills-language {
    display: flex;
    align-items: center;
}

#basic {
    background-color: #dbeafe;
    color: #1e40af;
}

#beginner {
    background-color: #fffac4;
    color: #854d0e;
}

.section-05 {
    padding: 4rem 10rem;
}

.Contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.Contact-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.Contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.Contact-form h3 {
    color: #111827;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.Contact-form label {
    font-size: 1rem;
    font-weight: 600;
    color: #4b5563;
}

.Contact-form input,
.Contact-form textarea {
    padding: 0.7rem;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Contact-form button {
    padding: 0.7rem;
    background-color: #111827;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.Contact-form button:hover {
    background-color: #1f2937;
}

textarea {
    resize: none;
    min-height: 100px;
}

.Contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Contact-info h3 {
    color: #111827;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.Contact-info p {
    font-size: 1.15rem;
    font-weight: 500;
    color: #4b5563;
}

.contact-me {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-me div a {
    text-decoration: none;
    color: #16a34a;
    font-weight: 600;
}

.contact-me div a:hover {
    color: #159644;
    text-decoration: underline;
}

footer {
    background-color: #111827;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}